a {color: pink;
text-decoration: none;}
h1 { border-bottom: 3px solid gray; margin: 0px; padding: 20px ;
font-size: 60px; text-align: center;
}
h2{font-size: 40px; }

.picture{display: flex;
flex-wrap: wrap;
flex: 25%;
max-width: 50%;
padding: 0 4px;

}

.main {border-left: 3px solid gray;width: 1fr; padding: 30px}

.hashtag {padding: 30px;font-size: 30px; margin:0px;  }


#grid{

display: grid;
grid-template-columns: 2fr 7fr;
}
